<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
  <link rel="stylesheet" href="../assets/css/style.css">
  <title>PokeCardBay - Login</title>
</head>
<body class="login">
  <div class="container">

    <!-- Formulário de login à esquerda -->
    <div class="form-login">
      <form method="POST" action="/login">
        <div class="form-heather-login">
          <h1>Login</h1>
        </div>

         <!-- Bloco de Erros (do Controller) -->
        @if(flashMessages.has('errors'))
          <div style="background-color: #f8d7da; color: #721c24; padding: 10px; border-radius: 5px; margin-bottom: 15px;">
            <strong>Ops!</strong>
            <ul>
              @each(error in flashMessages.get('errors'))
                <li>{{ error.message }}</li>
              @endeach
            </ul>
          </div>
        @endif

        <div id="imput-group">
          <div class="imput-box">
            <label for="email" class="form-label">E-mail</label>
            <input id="email" name="email" type="email"
                   class="form-control" placeholder="Digite seu email"
                   autocomplete="email" required>
            <i class="fa-regular fa-envelope"></i>
          </div>

          <div class="imput-box">
            <label for="password">Senha</label>
            <input id="password" name="password" type="password"
                   class="form-control" placeholder="**********"
                   autocomplete="off" required>
            <i class="fa-regular fa-eye-slash"></i>
          </div>

          <div>
            <button type="submit" class="buttonsmit">
              Entrar
              <i class="fa-solid fa-arrow-right-to-bracket"></i>
            </button>
          </div>

          <div class="ancora-msg">
            <a href="/cadastro">
              Ainda não tem uma conta? Cadastre-se!
            </a>
          </div>
        </div>
      </form>

      <!-- Mensagem de erro opcional -->
      @if(error)
        <p style="color:red;">{{ error }}</p>
      @endif
    </div>

    <!-- Imagem do login à direita -->
    <div class="login-img">
      <img src="../assets/img/caution_piachu.webp" alt="Login Image">
    </div>

  </div>
</body>
</html>